In [2]:
def guests_are_arriving():
    print("Dust all the rooms")    # guests
    print("Arrange living room")
    print("Cold drinks")
    print("Fancy lights")

In [3]:
guests_are_arriving()

Dust all the rooms
Arrange living room
Cold drinks
Fancy lights

In [5]:
'''
Question 2 - 
Take a name as input.
Write a greeter function which prints, "HELLO NAME!"
after accepting a name as argument.
'''

'\nQuestion 2 - \nTake a name as input.\nWrite a greeter function which prints, "HELLO NAME!"\nafter accepting a name as argument.\n'

In [6]:
def greeter(name):
    print("Hello",name,end = "!")

In [10]:
name_variable = input("Enter your name")
greeter(name_variable)

Enter your name Naynish

Hello Naynish!

In [8]:
greeter("Rishu")

Hello Rishu!

In [39]:
def introduce_family(father = "NA",mother="NA",sibling="NA"):
    '''
    this function will take 3 arguments
    about family and assign them to print
    their names with relation
    
    '''
    print("Father >> ",father)
    print("Mother >> ",mother)
    print("Sibling >> ",sibling)

In [35]:
introduce_family("Shahrukh","Gauri","Suhana")

Father >>  Shahrukh
Mother >>  Gauri
Sibling >>  Suhana

In [37]:
introduce_family(sibling = "Suhana",father = "Shahrukh")

Father >>  Shahrukh
Mother >>  NA
Sibling >>  Suhana

In [43]:
introduce_family?

Signature: introduce_family(father='NA', mother='NA', sibling='NA')
Docstring:
this function will take 3 arguments
about family and assign them to print
their names with relation
File:      c:\users\naynish\appdata\local\temp\ipykernel_21612\993729352.py
Type:      function

In [44]:
    '''
    Two arguments - 
    Arguments can only be int or float.
    
    Output - Sum of both the arguments.
    '''

'\nTwo arguments - \nArguments can only be int or float.\n\nOutput - Sum of both the arguments.\n'

In [60]:
def sum_of_two(a,b):
    return a+b,a-b

In [61]:
sum_of_two(7,7.5)

(14.5, -0.5)

In [48]:
sum([5,7]) + 8

20

In [52]:
type(print("Naynish"))

Naynish

NoneType

In [51]:
"Naynish"

'Naynish'

In [62]:
'''
Question 1 - 
Create a date printing function - 
Should take 4 arguments -> day, month, year and style

Styling Logic - 
style -> 0 -> d/m/y
style -> 1 -> m/d/y
style -> any other value -> Invalid Style

default style is 0.
'''

'\nQuestion 1 - \nCreate a date printing function - \nShould take 4 arguments -> day, month, year and style\n\nStyling Logic - \nstyle -> 0 -> d/m/y\nstyle -> 1 -> m/d/y\nstyle -> any other value -> Invalid Style\n\ndefault style is 0.\n'

In [67]:
def date_printing(day,month,year,style = 0):
    if style == 0:
        print(day,month,year,sep = "/")
    elif style == 1:
        print(month,day,year,sep = "/")
    else:
        print("Invalid Style")

In [68]:
date_printing(25,9,2025,5)

Invalid Style

1. Given the temperature of a day in Degrees Celsius, convert this given temperature from Celsius to Fahrenheit. Complete the function to do so. Round the output up to 2 decimal places

**Note:**

1. To round up the values -
    - Python : Use **round(ans,2)** to round up ans to two decimals
2. The formula to convert Celsius to Fahrenheit is: **F = (9/5 * C) + 32**

In [69]:
def celsius_to_fah(Celcius):
    F = (9/5 * Celcius) + 32
    return round(F,2)

In [75]:
celsius_to_fah(35.55)

95.99