<a href="https://colab.research.google.com/github/naynishb/farmers_market/blob/main/mit/intro_mit5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
print(5 + 6)

11

In [ ]:
type(None)

NoneType

In [ ]:
None

In [ ]:
print("Naynish B")

Naynish B

In [ ]:
'''
Naynish
B
'''

'\nNaynish\nB\n'

In [ ]:
# commenting


1. **Question 1:**
    
    Write a Python program to print your name and favourite colour on two separate lines.

In [ ]:
print("Naynish \n Green")

Naynish
 Green

In [ ]:
'''
Naynish
green

'''

'\nNaynish\ngreen\n\n'

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
print("data","science",7,7.5,True,None,sep = "_",end = " ENDING ")

data_science_7_7.5_True_None ENDING

In [ ]:
# variables

In [ ]:
name = "Naynish"

In [ ]:
print("Hello",name)

Hello Naynish

In [ ]:
name_1 = 1651

In [ ]:
'''
a-z
A-Z
0-9 NO FIRST CHAR
#$%^&U* not allowed
'''

'\na-z\nA-Z\n0-9 NO FIRST CHAR\n#$%^&U* not allowed\n'

In [ ]:
type(name_1)

int

In [ ]:
Name = int(input("Enter your name: "))

Enter your name: 1010

In [ ]:
Name

1010

In [ ]:
science_marks = int(input("Enter your science marks: "))
maths_marks = int(input("Enter your maths marks: "))
total_marks = science_marks + maths_marks
print("Your total marks is: ",total_marks)

Enter your science marks: 70
Enter your maths marks: 30
Your total marks is:  100

In [ ]:
# arithmetic operators

In [ ]:
4 + 5

9

In [ ]:
4 + 9.9

13.9

In [ ]:
7*2

14

In [ ]:
-10/3

-3.3333333333333335

In [ ]:
-10//3  # floored division

-4

In [ ]:
10%3   # modulo

1

In [ ]:
import math

In [ ]:
math.ceil(10/3)

4

In [ ]:
math.floor(10/3)

3

In [ ]:
math.cbrt(125)

5.0

In [ ]:
5**3

125

In [ ]:
# comparison operators

In [ ]:
50 == 50

True

In [ ]:
50 != 50

False

In [ ]:
40 >= 40

True

In [ ]:
# assigmnment operators

In [ ]:
x = 6

In [ ]:
x =  x + 1

In [ ]:
x

6

In [ ]:
x **= 2

In [ ]:
x

1853020188851841.0

In [ ]:
# logical operators - and, or, not

In [ ]:
50 == 50 and 40 == 40 and 30 != 30

False

In [ ]:
not (50 == 50 or 40 != 40 or 30 != 30)

False

In [ ]:
not True

False

Write a program to check if you are eligible to apply for IIT
you should compulsory have

10th marks more than or equal to 70 <br>
12th marks more than or equal to 70 <br>
JEE marks more than or equal to 500

In [ ]:
tenth_marks = int(input("Enter your 10th marks: "))
twelveth_marks = int(input("Enter your 12th marks: "))
jee_marks = int(input("Enter your JEE marks: "))

if (tenth_marks >= 70) and (twelveth_marks >= 70) and (jee_marks >= 500):
  print("You are eligible for IIT")
else:
  print("You are not eligible for IIT")

Enter your 10th marks: 71
Enter your 12th marks: 72
Enter your JEE marks: 510
You are eligible for IIT

In [ ]:
# control statements

In [ ]:
### Take a number from the user as input, and check if it is even or odd
#- print accordingly

In [ ]:
number = int(input("Enter a number: "))
if number % 2 == 0: # condition
  print("Even")  # value if true
else:
  print("Odd")  # value if false

Enter a number: 7
Odd

In [ ]:
## take a user input, whether the number is positive or negative, 0 as zero

In [ ]:
number = int(input("Enter a number: "))
if number == 0:
  print("Zero")
elif number > 0:
  print("Positive")
else:
  print("Negative")

Enter a number: 5
Positive

In [ ]:
## age = input, < 18,print not eligbile to vote,
##18 and 21, you can vote but cannot drink,
## more than 21, you can vote and drink

In [ ]:
# SOLVE THIS ^

In [ ]:
age = int(input("Enter your age: "))

if age < 18:
  print("you are not eligible to vote")
elif age >= 18 and age <= 21:
  print("you can vote but cannot drink")
else:
  print("you can vote and drink")

Enter your age: 50
you can vote and drink

In [ ]:
age = int(input("Enter your age: "))

if age < 18:
  print("you are not eligible to vote")
elif 18 <= age <= 21:
  print("you can vote but cannot drink")
else:
  print("you can vote and drink")

Enter your age: 19
you can vote but cannot drink

School grading system, user will input marks <br>
marks more than 90: A <br>
between 75 and 90 : B  (75 & 90 included) <br>
between 50 and 75 : C  (50 included) <br>
between 35 and 50 : D  (35 included) <br>
less than 35 : F

In [ ]:
enter_marks = float(input("Enter your marks "))

if enter_marks > 90:
  print("A")
elif 75 <= enter_marks <= 90:
  print("B")
elif 50 <= enter_marks < 75:
  print("C")
elif 35 <= enter_marks < 50:
  print("D")
else:
  print("F")

Enter your marks 70.5
C


Take an integer n as input. <br>
if n is a multiple of only 3 --> print "Fizz" <br>
else if n is a multiple of only 5 --> print "Buzz" <br>
else if n is a multiple of both 3 and 5 --> print "FizzBuzz"

In [ ]:
N = int(input("enter a number "))

if N % 3 == 0 and N % 5 == 0:
  print("Fizzbuzz")
elif N % 5 == 0:
  print("Buzz")
elif N % 3 == 0:
  print("Fizz")
else:
  print("Invalid input")

enter a number 17
Invalid input