In [1]:
# print(find_duplicates([4, 3, 2, 7, 8, 2,2,2,2, 3,3,3,3, 1]))  # Output: [2, 3]

In [4]:
[4, 3, 2, 7, 8, 2,2,2,2, 3,3,3,3, 1].count(3)

5

In [19]:
def find_duplicates(input_list):
    random = []
    for i in set(input_list):
        if input_list.count(i) > 1:
          random.append(i)
    return random

In [20]:
find_duplicates([4, 3, 2, 7, 8, 2,2,2,2, 3,3,3,3, 1,1])

[1, 2, 3]

In [28]:
def find_duplicates1(input_list):
    dict4 = {}
    for i in set(input_list):
        if input_list.count(i) > 1:
          dict4[i] = input_list.count(i)
    return list(dict4.keys())

In [30]:
find_duplicates1([4, 3, 2, 7, 8, 2,2,2,2, 3,3,3,3, 1,1])

[1, 2, 3]

In [31]:
'''
Write a function that takes a list of strings and groups them into anagrams. 
Return a list of lists, where each inner list contains words that are anagrams of each other.
["eat", "tea", "tan", "ate", "nat", "bat"]

output = [['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]
'''

'\nWrite a function that takes a list of strings and groups them into anagrams. \nReturn a list of lists, where each inner list contains words that are anagrams of each other.\n["eat", "tea", "tan", "ate", "nat", "bat"]\n\noutput = [[\'eat\', \'tea\', \'ate\'], [\'tan\', \'nat\'], [\'bat\']]\n'

In [42]:
def group_anagrams(list_of_words):
    anagrams = {}
    for i in list_of_words:
        key = tuple(sorted(i))
        if key in anagrams:
            anagrams[key].append(i)
        else:
            anagrams[key] = [i]
    return list(anagrams.values())

In [43]:
group_anagrams(["eat", "tea", "tan", "ate", "nat", "bat"])

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [46]:
original = {"a": 1, "b": 2, "c": 3}
# Output: {'a': 2, 'b': 4, 'c': 6}

In [49]:
def double_values(input_dict):
    resultant = {}
    for key,value in input_dict.items():
        resultant[key] = value*2
    return resultant

In [50]:
double_values(original)

{'a': 2, 'b': 4, 'c': 6}